---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1385323677'
      Last-Modified:
      - Sun, 24 Nov 2013 19:02:39 GMT
      Etag:
      - '"6a1c53e4b3b04aa01784577a3c9d4cbe"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"id":8514,"name":"rails","full_name":"rails/rails","owner":{"login":"rails","id":4223,"avatar_url":"https://1.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https%3A%2F%2Fidenticons.github.com%2Ff42a37d114a480b6b57b60ea9a14a9d2.png&r=x","gravatar_id":"30f39a09e233e8369dddf6feb4be0308","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/rails/rails","description":"Ruby
        on Rails","fork":false,"url":"https://api.github.com/repos/rails/rails","forks_url":"https://api.github.com/repos/rails/rails/forks","keys_url":"https://api.github.com/repos/rails/rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/rails/teams","hooks_url":"https://api.github.com/repos/rails/rails/hooks","issue_events_url":"https://api.github.com/repos/rails/rails/issues/events{/number}","events_url":"https://api.github.com/repos/rails/rails/events","assignees_url":"https://api.github.com/repos/rails/rails/assignees{/user}","branches_url":"https://api.github.com/repos/rails/rails/branches{/branch}","tags_url":"https://api.github.com/repos/rails/rails/tags","blobs_url":"https://api.github.com/repos/rails/rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/rails/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/rails/languages","stargazers_url":"https://api.github.com/repos/rails/rails/stargazers","contributors_url":"https://api.github.com/repos/rails/rails/contributors","subscribers_url":"https://api.github.com/repos/rails/rails/subscribers","subscription_url":"https://api.github.com/repos/rails/rails/subscription","commits_url":"https://api.github.com/repos/rails/rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/rails/issues/comments/{number}","contents_url":"https://api.github.com/repos/rails/rails/contents/{+path}","compare_url":"https://api.github.com/repos/rails/rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/rails/merges","archive_url":"https://api.github.com/repos/rails/rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/rails/downloads","issues_url":"https://api.github.com/repos/rails/rails/issues{/number}","pulls_url":"https://api.github.com/repos/rails/rails/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/rails/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/rails/labels{/name}","releases_url":"https://api.github.com/repos/rails/rails/releases{/id}","created_at":"2008-04-11T02:19:47Z","updated_at":"2013-11-24T19:02:39Z","pushed_at":"2013-11-24T19:00:50Z","git_url":"git://github.com/rails/rails.git","ssh_url":"git@github.com:rails/rails.git","clone_url":"https://github.com/rails/rails.git","svn_url":"https://github.com/rails/rails","homepage":"http://rubyonrails.org","size":228872,"stargazers_count":20134,"watchers_count":20134,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"forks_count":6938,"mirror_url":null,"open_issues_count":784,"forks":6938,"open_issues":784,"watchers":20134,"default_branch":"master","master_branch":"master","organization":{"login":"rails","id":4223,"avatar_url":"https://1.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https%3A%2F%2Fidenticons.github.com%2Ff42a37d114a480b6b57b60ea9a14a9d2.png&r=x","gravatar_id":"30f39a09e233e8369dddf6feb4be0308","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"network_count":6938,"subscribers_count":1333}'
  recorded_at: Sun, 24 Nov 2013 19:38:32 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c283c34a7d57df51882dffe3b274fa99e9d3d294
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1385338998'
      Last-Modified:
      - Sun, 24 Nov 2013 21:06:18 GMT
      Etag:
      - '"5a374b50da7ea2bb6b64153813e2ff2f"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"sevenmaxis","id":293438,"avatar_url":"https://2.gravatar.com/avatar/578d634d7ce34d89570ba1b85a4cf118?d=https%3A%2F%2Fidenticons.github.com%2F12c356337698310e9811d7d16db840f5.png&r=x","gravatar_id":"578d634d7ce34d89570ba1b85a4cf118","url":"https://api.github.com/users/sevenmaxis","html_url":"https://github.com/sevenmaxis","followers_url":"https://api.github.com/users/sevenmaxis/followers","following_url":"https://api.github.com/users/sevenmaxis/following{/other_user}","gists_url":"https://api.github.com/users/sevenmaxis/gists{/gist_id}","starred_url":"https://api.github.com/users/sevenmaxis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sevenmaxis/subscriptions","organizations_url":"https://api.github.com/users/sevenmaxis/orgs","repos_url":"https://api.github.com/users/sevenmaxis/repos","events_url":"https://api.github.com/users/sevenmaxis/events{/privacy}","received_events_url":"https://api.github.com/users/sevenmaxis/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":"Ukraine,
        Kiev","email":null,"hireable":true,"bio":null,"public_repos":44,"followers":1,"following":0,"created_at":"2010-06-01T16:53:58Z","updated_at":"2013-11-24T21:06:18Z","public_gists":54,"total_private_repos":1,"owned_private_repos":0,"disk_usage":27448,"collaborators":0,"plan":{"name":"free","space":307200,"collaborators":0,"private_repos":0},"private_gists":2}'
  recorded_at: Mon, 25 Nov 2013 00:18:01 GMT
[...]
